<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var buffer = new Array();
    var context = new AudioContext();
    var source = context.createBufferSource();
    source.connect(context.destination);
    var i = 0;

    var socket = io.connect('http://' + document.domain + ':' + location.port, {'transports': ['websocket']});
    socket.on('connect', function() {
        socket.emit('join', {booth_id: 0});
    });

    socket.on('new song', function() {
    });

    function decodeHandler(data) {
        console.log(data);
    }

    socket.on('song data', function(data) {
        buffer[i] = data;
        context.decodeAudioData(new ArrayBuffer(data), decodeHandler, function(e) {
            console.log(e);
        });
        if (i == 0) {
            source.start(0);
        }
        i++;
    });

    socket.on('end song', function() {
        alert(buffer);
    });

</script>
