<!DOCTYPE html>
<html>
    <head>
        <title>QLoop: Collaborative Playlist Building</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        <header>
            <div class='navbar navbar-inverse'>
                <div class='navbar-inner'>
                    <a class='list-inline' href='/'>QLoop</a>
                    <ul class='list-inline-item'>
                        <li class='list-inline-item'><a href='/profile'>Profile</a></li>
                        <li class='list-inline-item'><a href='/create_booth'>Create Booth</a></li>
                        <li class='list-inline-item'><a href='/public_booths'>Public Booths</a></li>
                        <li class='list-inline-item'><a href='/logout'>Logout</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class='container'>
            {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
