.main-list-scrollable{

    height: 85%;
    overflow: auto;
    color: rgb(22.5,111,123)
}

.padding{
    /*padding-top: 1px;*/
}

.search-bar input{
    width:95%;
}

.search-bar{
    text-align: center;
}
