.main-list-scrollable{

    height: 85%;
    overflow: auto;
    color: rgb(22.5,111,123)
}

.main-list-non-scrollable{
    height: 15%;
    padding-top: 10px;
    padding-left: 15px;
    /* margin: 10px 0 15px, 15px; */
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    /* min-height: 30px; */
    display: block;
    color: purple;
}

.main-list-full-size{
    height:40vh;
    width: 100%;
    /* background: black; */
}

.main-list-item{
    height: 8vh;
    /* background: green; */
    margin: 15px;
}




.main-list-item-grid{
    height: 100%;
    min-height: 50px;
    display: grid;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: repeat(20, 1fr);
}

.main-list-friend-title{
    font-size: 17px;
    font-weight: 600;
}

.main-queue-user-label{
    font-size: 12px;
    font-weight: 100;
}

.main-queue-item-button-skip{
    grid-column: 15 / 18;
    height: 50px;
    width: 50px;
    margin: auto;
    border: none;
    background: rgba(255, 0, 0, 0.196);
}
.main-queue-item-button-save{
    grid-column: 18 / 21;
    height: 50px;
    width: 50px;
    margin: auto;
    border: none;
    background: rgba(19, 151, 217, 0.1);
}

.main-queue-title-container{
    grid-column:  1 / 15;
    margin-top: 10px;
    margin-left: 10px;
}
